@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --clr-text-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --clr-text-soft-red: hsl(14, 88%, 65%);
    --clr-background-gradient: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    --clr-text-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --clr-text-dark-grayish-blue: hsl(240, 6%, 50%);
    --clr-divider-light-grayish-blue: hsl(240, 5%, 91%);
    --font-family: 'Kumbh Sans', sans-serif;
    --font-size: 12px;
    --transition: 0.3s
}

body {
    background-image: var(--clr-background-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12px;
    font-family: var(--font-family);
    margin: 0vw
}

h1 {
    font-weight: 700;
    font-size: 3em
}

h3 {
    font-weight: 400;
    font-size: 1em;
    color: var(--clr-text-very-dark-grayish-blue);
    font-family: var(--font-family);
}

i{
    font-family: var(--font-family)
}

.container {
    background-color: hsl(0, 0%, 100%);
    margin: 40vw 6vw 16vw 6vw;
    padding: 40vw 6vw 16vw 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6vw;
    box-shadow: 0vw 4vw 15vw hsl(237, 12%, 33%)
}

.img-woman {
    background-image: url(images/illustration-woman-online-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60vw;
    height: 60vw;
    margin-top: -67vw
}

.img-shadow {
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60vw;
    height: 60vw;
    margin-top: -32vw
}

.body {
    margin-top: -34vw
}

.header {
    text-align: center;
    color: var(--clr-text-very-dark-desaturated-blue)
}

.question {
    border-bottom: 1px solid var(--clr-divider-light-grayish-blue);
}

.btn {
    border: none;
    cursor: pointer;
    padding: 0vw;
    text-align: left;
    background-color: transparent;
}

.btn :hover {
    color: var(--clr-text-soft-red);
    transition: var(--transition)
}

.question-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center    
}

.question-title-heading {
    width: 66vw
}

.down {
    font-size: 1.5rem;
    color: var(--clr-text-soft-red);
    transition: var(--transition);
    font-weight: 700;
}

.up {
    font-size: 1.5rem;
    color: var(--clr-text-soft-red);
    transition: var(--transition);
    font-weight: 700;
    display: none
}

.question-body {
    padding-bottom: 4vw;
    transition: var(--transition);
    display: none
}

.question-body span {
    color: var(--clr-text-dark-grayish-blue);
}

.show-text .question-title-heading {
    font-weight: 700;
}

.show-text .question-body {
    transition: var(--transition);
    display: block
}

.show-text .down {
    display: none
}

.show-text .up {
    display: block
}

@media only screen and (min-width: 768px) {
    body {
        justify-content: center;
    }

    h1 {
        margin: 1vw 0vw;
        font-size: 1.5em
    }

    h3 {
        font-size: 0.6em
    }

    span {
        font-size: 0.6em;
        line-height: 50%
    }

    .container {
        margin: 12vw 16vw 12vw 24vw;
        padding: 40vw 4vw 4vw 8vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 2vw
    }

    .img-woman {
        width: 30vw;
        height: 30vw;
        margin-top: -30vw;
        margin-left: -12vw;
        background-image: url(images/illustration-woman-online-desktop.svg)
    }

    .img-block {
        background-image: url(images/illustration-box-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 12vw;
        width: 12vw;
        margin-left: -14vw;
        margin-top: -21vw
    }

    .img-shadow {
        background-image: url(images/bg-pattern-desktop.svg);
        width: 30vw;
        height: 30vw;
        margin-left: -12vw;
        margin-top: -22vw
    }

    .body {
        padding-left: 8vw
    }

    .body-header {
        text-align: left
    }

    .question-body {
        padding-bottom: 1vw
    }

    .down {
        font-size: 1em;
    }

    .up {
        font-size: 1em
    }

    .question-title-heading {
        width: 22vw
    }
}